<div>
  <h1 class="font-bold text-4xl">HomePage#index</h1>
  <p>Find me in app/views/home_page/index.html.erb</p>
</div>
<%= link_to('About','/about') %><br />
<%= link_to('Report','/report') %><br />
<%= link_to('Help','/help') %><br />
<%= link_to('Login/Signup','/login_sign_up') %><br />
<%= link_to('How It Works','/how_it_works') %><br />
<%= link_to('Trip Planning','/trip_planning') %><br />
<%= link_to('Membership Plans','/membership_plans') %><br />