
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,500,700" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <title>ValetBike</title>
  </head>
  <body>
    <div id="site-container" class="flexbox vertical stretch flex-1">

    <!-- Common header -->
    <header class="flex justify-between items-center p-4 bg-gray-800 text-white">

      <!-- Logo Placeholder Button -->
      <div>
        <%= link_to "/", class: "logo-btn" do %>
          <%= image_tag("logo.png", alt: "ValetBike Logo", class: "logo-img", style: "width: 200px; height: auto; margin-top: 0px;") %>
        <% end %>
      </div>
    
      <!-- Navigation Links -->
      <nav>
        <ul class="flex space-x-4">
        
          <li><%= link_to "Home", "/", class: "btn btn-primary" %></li>
          <li><%= link_to "About", "/about", class: "btn btn-primary" %></li>
          <li><%= link_to "How it Works", "/howitworks", class: "btn btn-primary" %></li>
          <li>
            <% if user_signed_in? %> 
              <% if current_user.active_bike.nil? %> 
                <%= link_to "Rent A Bike", "/rent_map", class: "btn btn-primary" %>
              <% else %>
                <%= link_to "Return Bike", "/return_map", class: "btn btn-primary" %>
              <% end %>
            <% else %>
              <%= link_to "Map", "/base_map", class: "btn btn-primary" %>
            <% end %>
          </li>
          <li><%= link_to "Membership Plans", pricing_path, class: "btn btn-primary" %></li>
            
          
          <div class="dropdown">
            <% if user_signed_in? %>
              <button class="dropbtn" style = "float:right">Account
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                <%= link_to "Manage Account", "/account", class: "btn btn-primary" %>
                <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>              
              </div>
            <% else %>
              <%= link_to "Sign In", new_user_session_path, class: "btn btn-success" %>
            <% end %>
          </div>

        </ul>
      </nav>
    </header>
    

      <div class="flexbox vertical center">
      <p class="notice"><%= notice %></p> 
      <p class="alert"><%= alert %></p> 
        <%= yield %>
      </div>

      <!-- Common footer -->
      <footer>
        <ul>
          <li><%= link_to "Contact Us", "/contactus", :class =>"btn btn-primary"%></li>
        </ul>
      </footer>

    </div>
  </body>
</html>